.title{
max-width: 80%;
      
       

}
.title :hover{
    transition-property:color ;
    color: red; ;
}
    
.title-container :first-child{
display: flex;
justify-content: flex-start;
    }
.title-container{
display: flex;
justify-content: flex-end;
color:aeddd6 ;
}
.name{

        font-size: 30px;
        font-family: "Montserrat";
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
        position: absolute;
         left: 357.844px;
        top: 21.5px;
         z-index: 92;
         color: #aeddd6;
}
